body{
  font-family: 'Seravek';
  line-height: 200%;
  height: 100%;
}
.navbar {
  background-color: #000;
}

.navbar ul li a {
  color: #fff !important;
  font-size: 15px;
}

.navbar ul li a:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.navbar-brand {
  color: #fff !important;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
}

#home {
  background: url("http://i.imgur.com/B0sMArq.jpg") no-repeat center top;
  height: 100vh;
  background-size: cover;
}

.home-line {
  border: 0;
  height: 2px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(30, 30, 30, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}

.home-wrap {
  /*padding-top: 150px;*/
  font-family: monospace;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}


.selfie {
  border-radius: 10%;
  margin-top: 20px;
  width: 60%;
}

.btn {
  margin: 10px;
  font-size: 25px;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase
}

.btn:hover {
  background-color: #fff;
  color: #458B74;
}
.btn-default {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    transition: all .35s
}

#about {
  background-color: white;
  padding-top:50px;
  padding-bottom:30px;
  font-size: 20px;
}

.text-transform {
  text-transform: uppercase;
}

.portfolio-wrap{
  /*padding-top: 50px;*/
  width: auto;
}

.portfolio-img {
  width: 100%;
}

#contact {
  /*padding-top: 50px;*/
  padding-bottom:100px;
}
