body{
  font-family: 'Seravek';
  line-height: 200%;
  height: 100%;
}
.text-transform {
  text-transform: uppercase;
}
/******************************************************
NAVBAR
******************************************************/

.navbar {
  background-color: #000;
}

.navbar a {
  color: #eee;
}

.navbar-brand {
  color: #ddd !important;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
}
/******************************************************
HOME
******************************************************/
#home {
  background: url("http://i.imgur.com/B0sMArq.jpg") no-repeat center top;
  height: 100vh;
  background-size: cover;
}
.home-line {
  border: 0;
  height: 2px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(30, 30, 30, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
}
.home-wrap {
  font-family: monospace;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}
/******************************************************
PORTFOLIO
******************************************************/
#about {
  background-color: white;
  padding-top:50px;
  padding-bottom:30px;
  font-size: 20px;
}
.selfie {
  border-radius: 10%;
  margin-top: 20px;
  width: 60%;
}
#portfolio{
  padding: 50px;
}
#contact {
  padding-bottom:100px;
}
/******************************************************
BUTTONS
******************************************************/
.btn {
  margin: 10px;
  font-size: 25px;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase
}
.btn:hover {
  background-color: #fff;
  color: #2ee;
}
.btn-default {
    color: #222;
    border-color: #ddd;
    transition: all .35s
}
a:link{
  color: #000;
}
a:hover{
  color: #2ee;
}
/******************************************************
MOBILE FRIENDLY
******************************************************/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .home-wrap{
    top:50%;
    left: 30%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {
#home h1{
  font-size: 40px;
}
.navbar{
  max-width: 100%;
}
.home-wrap{
  top:50%;
  left: 10%;
}
 }
