body{
  font-family: 'Arvo';
  /*line-height: 200%;*/
  /*height: 100%;*/
}
/******************************************************
MATERIALIZE
******************************************************/
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card-pup {
  color: #222;
  height: 400px;
  background: url('/css/getmypup.png') left / cover;
}
.demo-card-wide > .mdl-card-treffen {
  color: #fff;
  height: 400px;
  background: url('/css/treffen-2.png') left / cover;
}
.demo-card-wide > .mdl-card-geo {
  color: #fff;
  height: 400px;
  background: url('/css/geosearch.png') left / cover;
}
.demo-card-wide > .mdl-card-paysally {
  color: #fff;
  height: 400px;
  background: url('https://i.imgur.com/iQxWnZA.png') left / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.github-commits > img{
  padding:40px;
  opacity: 0.6;
}
.portfolio-title{
  text-transform: uppercase;
  font-family: 'Arvo';
  letter-spacing: 3px;
}
/******************************************************
SKILLS
******************************************************/.skill-icon{
  font-size: 2em;
}
.skills{
  width: 100%;
  text-align:center;
  margin: 20px;
  padding: 20px;
  /*display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;*/
}
.skill-skill, .fa-skill{
  font-size:5em;
  padding: 20px;
}
/******************************************************
LOADER
******************************************************/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader-container{
  width:100%;
  height:100vh;
  position: fixed;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}
/******************************************************
NAVBAR
******************************************************/
/* ------ NAVBAR------ */
.navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.nav-name{
    text-align: center;
    padding: 15px 0px 15px 0px;
    background-color: #292929;
    color: #fff;
    letter-spacing: 3px;
}

.name {
    font-family: 'Arvo', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.nav-social{
    display: flex;
    display: -webkit-flex;
}

.nav-social a{
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 5px 0 5px 0;
    font-size: 2em;
    color: white;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.nav-social a:hover{
    background-color: white;
}

.email {background-color: #4fc3f7;}
.email:hover {color: #4fc3f7;}

.github {background-color: #03a9f4;}
.github:hover {color: #03a9f4;}

.linkedin {background-color: #0288d1;}
.linkedin:hover {color: #0288d1;}

.twitter{background-color: #01579B;}
.twitter:hover{color: #01579B;}

.medium{background-color: #043f6e;}
.medium:hover {color: #043f6e;}

/******************************************************
HOME
******************************************************/
#home {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/mision.jpg) no-repeat top center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
}
/******************************************************
PORTFOLIO
******************************************************/
#about {
  background-color: white;
  padding-top:50px;
  padding-bottom:30px;
  font-size: 20px;
}
.selfie {
  border-radius: 4px;
  margin-top: 20px;
  width: 90%;
}
#portfolio{
  padding: 50px;
}

#contact {
  padding-bottom:100px;
}
/******************************************************
BUTTONS
******************************************************/
.btn {
  margin: 10px;
  font-size: 25px;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase
}
.btn:hover {
  background-color: #fff;
  color: #2ee;
}
.btn-default {
    color: #222;
    border-color: #ddd;
    transition: all .35s
}
a:link{
  color: #000;
}
a:hover{
  color: #2ee;
}
/******************************************************
MOBILE FRIENDLY
******************************************************/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .home-wrap{
    top:50%;
    left: 30%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {
#home h1{
  font-size: 40px;
}
/*.navbar{

  max-width: 100%;
}*/
.home-wrap{
  top:50%;
  left: 10%;
}
 }

 /******************************************************
SVG MASK
 ******************************************************/

 html {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizelegibility;
 }

 html,
 body {
   height: 100%;
 }

 body {
   font-family: 'Roboto', sans-serif;
 }

 .text, .text2 {
   position: sticky;
   top: 90px;
   left: 0;
   width: 100%;
   height: 250px;
   z-index: 5;
 }
 svg {
   width: 100%;
   height: inherit;
 }
 svg text {
   text-anchor: middle;
 }
 svg #alpha,#alpha2 {
   fill: #666666;
 }
 svg #title,#title2{
   letter-spacing: -2px;
   font-size: 6em;
   font-weight: 800;
 }
 svg #subtitle,#subtitle2 {
   letter-spacing: 8px;
   font-size: 1.2em;
   font-weight: 300;
   text-transform: uppercase;
 }
 svg #base{
   fill: black;
   -webkit-mask: url(#mask);
           mask: url(#mask);
 }
 svg #base2{
   fill: black;
   -webkit-mask: url(#mask2);
           mask: url(#mask2);
 }

 /******************************************************
Parallax divider
 ******************************************************/
 .sep {
 	background-attachment: fixed;
 	background-position: 50% 0;
 	background-repeat: no-repeat;
 	height: 450px;
 	position: relative;
 }

 .about {
 	background-image: url('https://fiberopticnow.github.io/media/css_code.jpg');
  opacity:.65;
 }

 .portfolio {
  background-image: url('https://i.imgur.com/B0sMArq.jpg');
  opacity:.65;
  position: relative;
  width: 100%;
 }

 .contact {
  margin-bottom: 100px;
 	background-image: url('https://i.ytimg.com/vi/C2O7lM0bU0g/maxresdefault.jpg');
  opacity:.65;
 }
